<strong>Olá, {{ deliveryman }}</strong>
<p>Há uma nova encomenda disponivel para retirada, confira os detalhes da encomenda abaixo:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br>
  <strong>Nome do destinatário: </strong> {{ recipient.name }} <br>
  <strong>Cidade: </strong> {{ recipient.city }} <br>
  <strong>Endereço: </strong> {{ recipient.street }}, {{ recipient.number }}
</p>